$light-grey: #7A7A7A;
$grey-dark: #E1E2E2;
$black: #000000;
$white: #ffffff;
$blue: #4C83ED;
$red: #ff0c0c;

$blue-light-opacity: rgba(76, 131, 237, 0.15);
$black-opacity: rgba(0, 0, 0, 0.4);
$black-opacity2: rgba(0, 0, 0, 0.15);

$light-grey-hover: #efefef;

$bg-transparent: transparent;
