<ul>
  <li>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>account_circle</mat-icon>
      Home
    </a>
  </li>
  <li>
    <a routerLink="/user/0" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>account_circle</mat-icon>
      Link 0
    </a>
  </li>
  <li>
    <a routerLink="/user/1" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>account_circle</mat-icon>
      Link 1
    </a>
  </li>
  <li>
    <a routerLink="/user/2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>account_circle</mat-icon>
      Link 2
    </a>
  </li>
  <li>
    <a routerLink="/user/3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>account_circle</mat-icon>
      Link 3
    </a>
  </li>
</ul>
